# Default owner for all files
* @AathikaSaravanakumar241

# Governance files
/LICENSE @AathikaSaravanakumar241
/CONTRIBUTING.md @AathikaSaravanakumar241
/README.md @AathikaSaravanakumar241
/.github/ @AathikaSaravanakumar241
